- sample = entity
- entity_card = EntityCard.new(sample)
- entity_card.name = entity
- entity_card.meta do
  %dl
    %dt From VCF
    %dd= Sample.vcf_files(sample).any?

- entity_card.description do

  - if sample.genomic_mutations
    %dl
      %dt Genomic Mutations
      %dd= GenomicMutation.setup(sample.genomic_mutations, sample, sample.organism, sample.watson).list_link :length, "Genomic mutations in #{ sample }"

      %dt Mutated (principal) Isoforms
      - isoforms = sample.isoforms(:principal => true)
      %dd= MutatedIsoform.setup(isoforms, sample.organism).list_link :length, "Mutated Isoforms in #{ sample }"

      %dt Affected genes
      %dd= sample.get_genes(:affected).list_link :length, "Affected genes in #{ sample }"

      %dt Damaged genes
      %dd= sample.get_genes(:damaged).list_link :length, "Damaged genes in #{ sample }"

    = table :table_id => "Mutation details for #{ sample }" do
      - sample.mutation_details

    = table :table_id => "Mutation genes for #{ sample }" do
      - sample.mutation_genes

- entity_card.action_controller = default_action_controller sample

= entity_card_render entity_card
